.colortext {
	background-color: yellow;
}


.blue-text {
	color: #4682B4; 
}	


body {
  text-align: justify;
  
}


ul {
  padding-left: 0;
  list-style-type: '- ';
  list-style-position: inside;
}


ol {
  padding-left: 0;
  list-style-position: inside;
}


img {
	margin-top: 0;
}

	
h2 {
	margin-bottom: 0;
}